@import url(vendors/bootstrap.css);
.clearfix:before,
.clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.common__body {
  padding: 80px 0 0; }

.admin {
  padding: 0 30px; }

.admin_navigation-region {
  position: fixed;
  width: 200px; }

.admin_container-region {
  margin: 0 0 0 200px; }

.admin_navigation .item {
  width: 150px; }

@media screen and (min-width: 970px) {
  .admin_users-table {
    width: 65%; } }
.user-table-name {
  width: 30%; }

.user-table-controls {
  text-align: right; }

.admin_deposits {
  width: 800px; }
  .admin_deposits .deposit-item {
    cursor: pointer; }

.deposit-item:hover {
  background-color: #EEE; }
.deposit-item .name {
  width: 70%; }
.deposit-item .number {
  width: 30%; }

.clusters {
  width: 100%;
  margin-left: 20px; }
