@import url(vendors/bootstrap.css);
.clearfix:before,
.clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.common__body {
  padding: 80px 0 0; }

.admin {
  padding: 0 30px; }

.admin_navigation-region {
  position: fixed;
  width: 200px; }

.admin_container-region {
  margin: 0 0 0 200px; }

.admin_navigation .item {
  width: 150px; }

@media screen and (min-width: 970px) {
  .admin_users-table {
    width: 65%; } }
.user-table-name {
  width: 30%; }

.user-table-controls {
  text-align: right; }

.admin_user .user_group-remove {
  opacity: .4; }
  .admin_user .user_group-remove:hover {
    cursor: pointer;
    opacity: 1; }

.admin_fields {
  width: 65%; }

.field-item .field-name {
  float: left;
  width: 60%; }

.field-item .field-number {
  float: left;
  width: 35%; }

.cluster-item .cluster-name {
  float: left;
  width: 60%; }

.cluster-item .cluster-number {
  float: left;
  width: 35%; }

.borehole-item .borehole-id {
  float: left;
  width: 60%; }

.borehole-item .borehole-number {
  float: left;
  width: 35%; }

.sensor-item {
  line-height: 25px; }

.sensor-item .sensor-name {
  float: left;
  width: 50%; }

.sensor-item .sensor-channel-number {
  float: left;
  width: 45%; }

.clusters,
.boreholes,
.sensors {
  padding-left: 30px; }

.clusters,
.boreholes,
.sensors {
  width: 100%; }

.field-item,
.cluster-item,
.borehole-item {
  cursor: pointer;
  line-height: 25px;
  border-bottom: 1px solid #ddd; }

.prime_graphics {
  min-width: 310px;
  height: 400px;
  margin: 0 auto; }
