@import url(vendors/bootstrap.css);
html {
  height: 100%; }

h3 {
  margin: 0 0 24px; }

label {
  font-weight: 200; }

@media screen and (min-width: 1370px) {
  .inner-container {
    width: 65%; } }
a,
.link {
  cursor: pointer; }

a.underline,
.link.underline {
  text-decoration: none;
  color: #428bca;
  border-bottom: 1px solid #428bca;
  border-bottom: 1px solid rgba(66, 139, 202, 0.4); }
  a.underline:hover,
  .link.underline:hover {
    color: #2a6496;
    border-color: #2a6496;
    border-color: rgba(42, 100, 150, 0.4); }

a.dotted,
.link.dotted {
  text-decoration: none;
  color: #428bca;
  border-bottom: 1px dotted #428bca; }
  a.dotted:hover,
  .link.dotted:hover {
    color: #2a6496;
    border-color: #2a6496; }

a.noline {
  text-decoration: none; }

.help {
  cursor: help; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ""; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.comment {
  margin-bottom: 5px; }

.comment .comment-date {
  margin-left: 15px; }

.comment .comment-text {
  margin-left: 15px; }

.comment .comment-remove {
  margin-left: 15px; }

.app,
.app_container {
  height: 100%; }

.guest,
.guest__container {
  height: 100%; }

.guest__container {
  text-align: center; }
  .guest__container:after {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle; }

.common,
.common_body {
  height: 100%; }

.common_body {
  padding: 80px 0 0; }

.admin {
  padding: 0 30px; }

.admin_navigation-region {
  position: fixed;
  width: 200px; }

.admin_container-region {
  margin: 0 0 0 200px; }

.prime,
.prime_sidebar,
.prime_container {
  height: 100%; }

.prime {
  padding: 0 30px; }

.prime_sidebar {
  position: fixed;
  width: 300px; }

.prime_container {
  margin: 0 0 0 300px; }

.login {
  display: inline-block;
  width: 300px;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  background: #f5f5f5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

.login_title {
  margin: 0 0 24px; }

.login_label {
  font-weight: 200; }

.login_buttons {
  margin: 24px 0 0; }

.nav_signout {
  margin-right: 15px;
  color: #fff;
  border-color: #111;
  background: #444; }
  .nav_signout > .glyphicon {
    margin: 0 4px 0 0; }

.nav_signout:hover {
  color: #fff;
  background: #333; }

.admin_navigation .item {
  width: 150px; }

.users_title {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; }

.user-table-name {
  width: 30%; }

.user-table-controls {
  text-align: right; }

.admin_user .user_group-remove {
  opacity: .4; }
  .admin_user .user_group-remove:hover {
    cursor: pointer;
    opacity: 1; }

.admin_user .user_group-add {
  margin: 0 10px; }

.admin_user .user_groups {
  margin: 0 0 10px 0; }

.resources_title {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; }

.resources_fields {
  margin: 0 0 40px; }

.admin_fields .title {
  margin: 0 0 5px;
  font-size: 1.2em; }

.clusters,
.boreholes {
  margin: 0 0 0 30px; }

.sensors {
  margin: 0 0 24px; }

.sensors .well {
  margin: 10px 0 0; }

.field-wrap:first-child {
  border-top: 1px solid #ddd; }

.sensor-link {
  margin: 0 10px 0 0; }
  .sensor-link + .glyphicon {
    display: none; }
  .sensor-link:hover + .glyphicon {
    display: inline; }

.field-item,
.cluster-item,
.borehole-item {
  padding: 5px;
  border-bottom: 1px solid #ddd; }
  .field-item:hover,
  .cluster-item:hover,
  .borehole-item:hover {
    cursor: pointer;
    background: #f5f5f5; }

.admin_no-attached .select-field,
.admin_no-attached .select-cluster {
  min-width: 220px; }

.no-attached_title {
  margin-bottom: 5px;
  font-size: 1.2em; }

.no-attached_item {
  cursor: pointer;
  font-weight: 200; }

.no-attached_control {
  margin: 15px 0 40px;
  padding: 8px 17px;
  border-radius: 4px;
  background: #f5f5f5; }
  .no-attached_control .text {
    margin: 0 10px 0 0; }

.sensors-tree {
  height: 100%;
  padding: 0 0 200px; }

.sensors-tree_title {
  margin: 0 0 24px;
  line-height: 42px; }

.graphics-control_tabs {
  margin: 0 0 24px; }

.sensors-tree_component > .sensors-tree_component {
  display: none;
  margin: 0 0 0 20px; }

.sensors-tree_component.active > .sensors-tree_component {
  display: block; }

.sensors-tree_component-name {
  padding: 6px 12px 6px 0; }
  .sensors-tree_component-name:hover {
    cursor: pointer;
    background: #f5f5f5; }

.sensors-tree_fields-container {
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 12px 0 0; }

/** Sensors */
.sensors-tree_component .sensors-container {
  margin: 8px 0 0; }

.sensors-tree_component .sensor {
  width: 100%;
  margin: 0;
  font-weight: 200; }
  .sensors-tree_component .sensor:hover {
    cursor: pointer;
    color: #000; }

.sensors-tree_component .sensor-checkbox {
  margin: -2px 4px 0 0;
  vertical-align: middle; }

/** Borehole */
.sensors-tree_component .borehole-child {
  margin: 0 16px 8px 10px;
  padding: 10px;
  list-style: none;
  font-size: 12px;
  border-radius: 3px;
  background: #f3f3e4; }

.sensors-sets_title {
  display: inline-block;
  margin: 0 0 12px;
  font-weight: 700; }

.sensors-sets_create-input {
  width: 420px; }

.sensors-sets_create-button {
  float: right; }

.graphics-bunch {
  overflow: hidden;
  padding: 0 0 120px; }

.graphics-bunch,
.graphics-bunch_graphic {
  height: 100%; }

.graphics,
.graphics_container {
  height: 100%; }

.graphics {
  margin: 24px 0 0; }

.graphics_container {
  width: 55%;
  min-width: 700px; }

.graphics_symbol {
  width: 20px;
  height: 20px;
  margin: 6px 0 0 9px;
  cursor: default;
  text-align: center;
  font-weight: 700;
  border: 1px solid #000;
  border-radius: 50%;
  background: #fff; }

.highcharts-tooltip {
  z-index: 8; }

.graphics-control_autorefresh {
  margin: 0 17px; }

.graphics-control_autorefresh .form-group {
  width: 94px; }
