.prime,
.prime_sidebar,
.prime_container {
    height: 100%;
}

.prime {
    padding: 0 30px;
}

.prime_sidebar {
    position: fixed;

    width: 300px;
}

.prime_container {
    margin: 0 0 0 300px;
}
