<div class="col-sm-offset-2">
    <h3>Скважина</h3>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Обозначение</label>
        <div class="col-sm-10">
            <input rv-value="borehole:code" type="text"
                class="form-control" placeholder="Обозначение">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Местоположение</label>
        <div class="col-sm-10">
            <input rv-value="borehole:location" type="text"
                class="form-control" placeholder="Местоположение">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Номер</label>
        <div class="col-sm-10">
            <input rv-value="borehole:number" type="text"
                class="form-control" placeholder="Номер">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Промысел</label>
        <div class="col-sm-10">
            <input rv-value="borehole:fieldStation" type="text"
                class="form-control" placeholder="Промысел">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Компания владелец</label>
        <div class="col-sm-10">
            <input rv-value="borehole:ownerCompany" type="text"
                class="form-control" placeholder="Компания владелец">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Сервисная компания</label>
        <div class="col-sm-10">
            <input rv-value="borehole:serviceCompany" type="text"
                class="form-control" placeholder="Сервисная компания">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Параметры скважины</label>
        <div class="col-sm-10">
            <input rv-value="borehole:paramsDescription" type="text"
                class="form-control" placeholder="Описание параметров скважины">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Установленное оборудование</label>
        <div class="col-sm-10">
            <input rv-value="borehole:installedEquipmentDescription" type="text"
                class="form-control" placeholder="Установленное оборудование">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Высота над уровнем моря</label>
        <div class="col-sm-10">
            <input rv-value="borehole:altitude" type="text"
                class="form-control" placeholder="Высота над уровнем моря">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Глубина воронки</label>
        <div class="col-sm-10">
            <input rv-value="borehole:craterDepth" type="text"
                class="form-control" placeholder="Глубина воронки">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Глубина забоя</label>
        <div class="col-sm-10">
            <input rv-value="borehole:bottomholeDepth" type="text"
                class="form-control" placeholder="Глубина забоя">
        </div>
    </div>

    {{ if (it.borehole.get('psensors')) { }}
    <div class="form-group">
        <label class="col-sm-2 control-label">Датчики давления</label>
        <div class="col-sm-10">
            <ul class="list-group list-group-condensed">
                <li rv-each-psensor="borehole:psensors" class="list-group-item">
                    { psensor:name } { psensor:channelNumber }

                    <button class="btn btn-link btn-xs pull-right noline"
                            rv-on-click="view.editPSensor">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Редактировать
                    </button>
                </li>
            </ul>
        </div>
    </div>
    {{ } }}

    {{ if (it.borehole.get('tsensors')) { }}
    <div class="form-group">
        <label class="col-sm-2 control-label">Датчики температуры</label>
        <div class="col-sm-10">
            <ul class="list-group list-group-condensed">
                <li rv-each-tsensor="borehole:tsensors" class="list-group-item">
                    { tsensor:name } { tsensor:channelNumber }

                    <button class="btn btn-link btn-xs pull-right noline"
                            rv-on-click="view.editTSensor">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Редактировать
                    </button>
                </li>
            </ul>
        </div>
    </div>
    {{ } }}

    <div class="form-group">
        <label class="col-sm-2 control-label">Примечательные точки</label>
        <div class="col-sm-10">
            <table class="borehole-point-presets_table table table-condensed">
                <tbody>
                    <tr rv-each-point="borehole:points">
                        <td>
                            <span class="graphics-symbol">{ point:preset:symbol }</span>
                        </td>
                        <td>{ point:preset:name }</td>
                        <td>{ point:value }</td>
                        <td class="controls">
                            <button class="btn btn-default btn-xs"
                                    rv-on-click="view.editPoint">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Редактировать
                            </button>
                            <button class="btn btn-danger btn-xs"
                                    rv-on-click="view.removePoint">
                                <span class="glyphicon glyphicon-trash"></span>
                                Удалить
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
                <button class="btn btn-default btn-xs"
                    rv-on-click="view.createPoint">
                    Добавить примечательную точку
                </button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-info"
                rv-on-click="view.save">
                Сохранить
            </button>
        </div>
    </div>
</div>