<div class="col-sm-offset-2">
    <h3>Месторождение { field:name }</h3>
</div>

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Название</label>
        <div class="col-sm-10">
            <input rv-value="field:name" type="text" class="form-control"
                placeholder="Название">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Номер</label>
        <div class="col-sm-10">
            <input rv-value="field:number" type="text" class="form-control"
                placeholder="Номер">
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Кусты</label>
        <div class="col-sm-10">
            <div class="clearfix" rv-each-cluster="field:clusters">
                <div class="pull-left">{ cluster:name }</div>
                <div class="pull-left">{ cluster:number }</div>
                <div class="pull-left">
                    <a class="btn btn-default btn-xs" 
                        rv-href="cluster:id | prepend #admin/clusters/">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <button class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
            <a href="#admin/clusters/new" class="btn btn-default btn-xs field_add-cluster">
                Добавить куст
            </a>
        </div>
    </div>

    {{ if (it.mode === 'edit') { }}
        <div class="form-group">
            <label class="col-sm-2 control-label">Комментарии</label>
            <div class="col-sm-10">
                <div class="comment clearfix" rv-each-comment="field:comments">
                    <div class="comment-name pull-left">
                        { comment:author:shortName }
                    </div>
                    <div class="comment-text pull-left">
                        { comment:text }
                    </div>
                    <div class="comment-date pull-left">
                        { comment:createDate }
                    </div>
                    <div class="comment-remove pull-left">
                        <button class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{ } }}

     <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" rv-on-click="view.save">
                {{ if (it.mode === 'edit') { }}
                    Сохранить
                {{ } }}
                {{ if (it.mode === 'create') { }}
                    Создать
                {{ } }}
            </button>
        </div>
    </div>
</div>
