.admin_no-attached {
    .select-field,
    .select-cluster {
        min-width: 220px;
    }
}

.no-attached_title {
    margin-bottom: 5px;

    font-size: 1.2em;
}

.no-attached_item {
    cursor: pointer;

    font-weight: 200;
}

.no-attached_control {
    padding: 8px 15px;

    border-radius: 4px;
    background-color: #f5f5f5;
}