.users_title {
    margin: 0 0 20px;

    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
}

.user-table_name {
    width: 30%;
}

.user-table_controls {
    text-align: right;
}
