.admin_user .user_group-remove {
    opacity: .4;
    &:hover {
        cursor: pointer;

        opacity: 1;
    }
}

.admin_user .user_group-add {
    margin: 0 10px;
}

.admin_user .user_groups {
    margin: 0 0 10px 0;
}
