.admin_fields .title {
    margin: 0 0 5px;

    font-size: 1.2em;
}

.clusters,
.boreholes {
    margin: 0 0 0 30px;
}

.sensors {
    margin: 0 0 24px;
}

.sensors .well {
    margin: 10px 0 0;
}

.field-wrap:first-child {
    border-top: 1px solid #ddd;
}

.sensor-link {
    margin: 0 10px 0 0;
    + .glyphicon {
        display: none;
    }
    &:hover + .glyphicon {
        display: inline;
    }
}

.field-item,
.cluster-item,
.borehole-item {
    padding: 5px;

    border-bottom: 1px solid #ddd;
    &:hover {
        cursor: pointer;

        background: #f5f5f5;
    }
}
