.admin_deposits {
    width: 80%;
}

.deposit-item {
    .deposit-name {
        width: 60%;
        float: left;
    }

    .deposit-number {
        width: 35%;
        float: left;
    }
}

.cluster-item {
    .cluster-name {
        width: 60%;
        float: left;
    }

    .cluster-number {
        width: 35%;
        float: left;
    }
}

.well-item {
    .well-id {
        width: 60%;
        float: left;
    }

    .well-number {
        width: 35%;
        float: left;
    }
}

.sensor-item {
    .sensor-name {
        width: 50%;
        float: left;
    }

    .sensor-channel-number {
        width: 45%;
        float: left;
    }
}

.clusters,.wells,.sensors {
    padding-left: 30px;
}

.clusters,.wells,.sensors {
    width: 100%;
}

.deposit-item,.cluster-item,.well-item,.sensor-item {
    border-bottom: 1px solid #DDD;
    cursor: pointer;
    line-height: 25px;

    &:hover {
        // background-color: #EEE;
    }
}