.admin_deposits {
    width: 800px;

    .deposit-item {
        cursor: pointer;
    }
}

.deposit-item {
    &:hover {
        background-color: #EEE;
    }

    .name {
        width: 70%;
    }

    .number {
        width: 30%;
    }
}

.clusters {
    width: 100%;
    margin-left: 20px;
}