.admin_deposits {
    width: 800px;
}

.deposit-info {
    margin-left: 20px;
}

.deposit-item {
    cursor: pointer;
    line-height: 25px;

    &:hover {
        background-color: #EEE;
    }

    .name {
        width: 70%;
    }

    .number {
        width: 30%;
    }
}

.cluster-info {
    width: 100%;
    margin-left: 20px;
}

.cluster-item {
    cursor: pointer;
    line-height: 20px;

    &:hover {
        background-color: #EEE;
    }
}

.well-info {
    width: 100%;
    margin-left: 20px;
}

.well-item {
    cursor: pointer;
    line-height: 20px;

    &:hover {
        background-color: #EEE;
    }
}

.pressure-sensor-item,.temperature-sensor-item {
    cursor: pointer;
    line-height: 20px;

    &:hover {
        background-color: #EEE;
    }
}
