.nav_signout {
    margin-right: 15px;

    color: #fff;
    border-color: #111;
    background: #444;
    & > .glyphicon {
        margin: 0 4px 0 0;
    }
}

.nav_signout:hover {
    color: #fff;
    background: #333;
}
