.sensors-sets_title {
    display: inline-block;

    margin: 0 0 12px;

    font-weight: 700;
}

.sensors-sets_create-input {
    width: 420px;
}

.sensors-sets_create-button {
    float: right;
}
