.graphics,
.graphics_container {
    height: 100%;
}

.graphics {
    margin: 24px 0 0;
}

.graphics_container {
    width: 55%;
    min-width: 700px;
}

.graphics_symbol {
    width: 20px;
    height: 20px;
    margin: 6px 0 0 9px;

    cursor: default;
    text-align: center;

    font-weight: 700;

    border: 1px solid #000;
    border-radius: 50%;
    background: #fff;
}

// highcharts

.highcharts-tooltip {
    z-index: 8;
}
