.graphics,
.graphics_container {
    height: 100%;
}

.graphics {
    margin: 24px 0 0;
}

.graphics_container {
    width: 55%;
    min-width: 700px;
}

.perforation-symbol {
    height: 18px;
    width: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-weight: bold;
    text-align: center;
    border-width: 1px !important;
    border: solid;
    cursor: default;
    margin-top: 7px;
    margin-left: 7px;
    background-color: white;
}

.moment-symbol {
    height: 18px;
    width: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-weight: bold;
    text-align: center;
    border-width: 1px !important;
    border: solid;
    cursor: default;
    margin-top: 7px;
    margin-left: 7px;
    background-color: white;
}

.depth-symbol {
    height: 18px;
    width: 18px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-weight: bold;
    text-align: center;
    border-width: 1px !important;
    border: solid;
    cursor: default;
    margin-top: 7px;
    margin-left: 7px;
    background-color: white;
}