.sensors-tree {
    height: 100%;
    padding: 0 0 200px;
}

.sensors-tree_title {
    margin: 0 0 24px;

    line-height: 42px;
}

.graphics-control_tabs {
    margin: 0 0 24px;
}

.sensors-tree_component > .sensors-tree_component {
    display: none;

    margin: 0 0 0 20px;
}

.sensors-tree_component.active > .sensors-tree_component {
    display: block;
}

.sensors-tree_component-name {
    padding: 6px 12px 6px 0;
    &:hover {
        cursor: pointer;

        background: #f5f5f5;
    }
}

.sensors-tree_fields-container {
    overflow: auto;

    width: 100%;
    height: 100%;
    margin: 12px 0 0;
}

/** Sensors */
.sensors-tree_component .sensors-container {
    margin: 8px 0 0;
}

.sensors-tree_component .sensor {
    width: 100%;
    margin: 0;

    font-weight: 200;
    &:hover {
        cursor: pointer;

        color: #000;
    }
}

.sensors-tree_component .sensor-checkbox {
    margin: -2px 4px 0 0;

    vertical-align: middle;
}

/** Borehole */

.sensors-tree_component .borehole-child {
    margin: 0 16px 8px 10px;
    padding: 10px;

    list-style: none;

    font-size: 12px;

    border-radius: 3px;
    background: #f3f3e4;
}
