html {
    height: 100%;
}

h3 {
    margin: 0 0 24px;
}

label {
    font-weight: 200;
}

@media screen and (min-width: 1370px) {
    .inner-container {
        width: 65%;
    }
}

a,
.link {
    cursor: pointer;
}

a.underline,
.link.underline {
    text-decoration: none;

    color: #428bca;
    border-bottom: 1px solid #428bca;
    border-bottom: 1px solid rgba(66, 139, 202, .4);
    &:hover {
        color: #2a6496;
        border-color: #2a6496;
        border-color: rgba(42, 100, 150, .4);
    }
}

a.dotted,
.link.dotted {
    text-decoration: none;

    color: #428bca;
    border-bottom: 1px dotted #428bca;
    &:hover {
        color: #2a6496;
        border-color: #2a6496;
    }
}

a.noline {
    text-decoration: none;
}

.help {
    cursor: help;
}
