.comment {
    margin-bottom: 5px;
}

.comment .comment-date {
    margin-left: 15px;
}

.comment .comment-name {
}

.comment .comment-text {
    margin-left: 15px;
}

.comment .comment-remove {
    margin-left: 15px;
}
